<h1> About </h1>
<div class="logo-columns">
	<div class="col-md-4">
		<%= image_tag('Racket.png', size: "300x300") %>
	</div>
	<div class="col-md-4">
		<%= image_tag('medal.png', size: "300x300") %>
	</div>
	<div class="col-md-4">
		<%= image_tag('community.png', size: "300x300") %>
	</div>
</div>
<br>
<div class="logo-columns">
	<div class="col-md-4">
		<h3>Play</h3>
		<p>Whether it's for fun or to win, you're always looking for someone to play a game with. GearUp matches you to people in your area so never have to lose a chance to indulge in your favorite activities.</p>
	</div>
	<div class="col-md-4">
		<h3>Win</h3>
		<p>A good job never goes unrewarded! Compete against other players to see who can top the scoreboard in each sport, earning point for every match you win. Who's the best athlete is your town?</p>
	</div>
	<div class="col-md-4">
		<h3>Explore</h3>
		<p>What makes a better friend than someone who shares similar passions? Create your profile to participate in a community of sports enthusiasts. Who knows who you might meet?</p>
	</div>
</div>