<div class="arrow-nav"><h1>Rankings</h1></div>

<div class="home-container">
  <div class="logo-container">
    <%= image_tag('logo.png') %>
    <%= image_tag('logo-written.png') %>
  </div>
  <div class="sportindex-container">
    <h1>Available Sports</h1>
    <% @sports.each do |sport| %>
      <div class="sport">
        <%= link_to sport.name, sport %>
      </div>
    <% end %>
    <div>
      <%= link_to 'New Sport', new_sport_path %>
    </div>
  </div>
</div>



