<div class="home-container">
  <div class="logo-container">
    <%= image_tag('logo.png') %>
    <%= image_tag('logo-written.png') %>
  </div>
  <div class="sport-container">
    <h1>Add A Sport!</h1>
    <%= render 'form' %>
  </div>
</div>


