<div class="home-container">
  <div class="logo-container">
    <%= image_tag('logo.png') %>
    <%= image_tag('logo-written.png') %>
  </div>
  <div class="signup-container">
    <h1>Sign Up</h1>
    <%= render 'form' %>
  </div>
</div>
